* {
  margin: 0px;
  padding: 0px;
}
.navheader {
  background-color: #781c68;
  color: white;
  padding: 40px;
}
a {
  text-decoration: none;
  font-size: 30px;
  color: aliceblue;
}
.nav {
  display: flex;
  justify-content: space-around;
}
footer {
  background-color: #781c68;
  color: white;
  padding: 15px;
  text-align: center;
}
input.btn {
  float: right;
  height: 40px;
  width: 130px;
  margin-top: 20px;
}
#empMain {
  color: #781c68;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 500px;
  height: 350px;
  border: solid;
  border-color: black;
  margin: 30px 50px;
}
input[type="text"] {
  padding: 6px;
  margin: 8px 0;
  border-radius: 4px;
}
input[type="text"]:focus {
  background-color: rgb(130, 114, 143);
}
.h1H {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: none;
}
h2 {
  margin-bottom: 20px;
}
.nav {
  align-content: left;
}
select {
  padding: 6px;
  margin: 8px;
  width: 150px;
  border-radius: 4px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.emp {
  width: 30%;
  text-align: center;
  margin: 1%;
  margin-top: 5%;
}

.info {
  background-color: #f9e4d4;
  padding: 10px;
}

table,
th,
td {
  border: 1px solid black;
}

table {
  width: 50%;
  margin: 20px auto;
}
