.navheader {
  background-color: #fee3ec;
  color: white;
  padding: 20px;
}
footer {
  background-color: #fee3ec;
  color: #781c68;
  padding: 15px;
  text-align: center;
}
#empMain {
  background-color: #a68dad;
  color: white;
  padding: 15px;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
}
input[type="text"] {
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 4px;
}
input[type="text"]:focus {
  background-color: lightblue;
}
.h1H {
  font-family: Arial, Helvetica, sans-serif;
  color: #781c68;
}

.nav {
  align-content: left;
}
select {
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 4px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.emp {
  width: 30%;
  text-align: center;
  margin: 1%;
  margin-top: 5%;
}

.info {
  background-color: #f9e4d4;
  padding: 10px;
}

table,
th,
td {
  border: 1px solid black;
}

table {
  width: 50%;
  margin: 20px auto;
}
